VITE_SUPABASE_URL=https://gamjwsjtefwyxauizoty.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdhbWp3c2p0ZWZ3eXhhdWl6b3R5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI0NTE0MTksImV4cCI6MjA3ODAyNzQxOX0.rCcAlGjtBRNGbtSx5J8WG1JyT-AT42zXdE8etByUmIs

